body {
    background-color: rgb(194, 144, 78);
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 350px;
    margin-top: 300px;
    border: solid 1px rgba(141, 107, 44, 0.322);
    border-radius: 10px;
    gap: 15px;
    box-shadow: 8px 8px 8px rgba(54, 37, 0, 0.397);
    background-color: rgb(241, 232, 219);
}

.objet, .email, .message {
    display: flex;
    flex-direction: column;
    color: rgb(109, 74, 41);
    margin-left: 45px;
}

.objet {
    margin-top: 20px;
}

.objet input, .message textarea {
    width: 400px;
}

.email input {
    width: 250px;
}

.message textarea {
    height: 170px;
    margin-bottom: 24px;
    resize: none;
}

.objet input, .email input, .message textarea {
    margin-top: 3px;
    background-color: rgb(230, 217, 202);
    border: solid 1px rgb(109, 72, 41);
    border-radius: 5px;
}

.objet input:focus, .email input:focus, .message textarea:focus {
    border: solid 1px
}

.error input, .error textarea {
    background-color: rgb(230, 202, 202);
    border: solid 1px rgb(109, 41, 41);
}

.bouton {
    display: none;
    width: 100px;
    margin: auto;
    background-color: rgb(230, 156, 106);
    border-color: rgb(109, 72, 41);
    border-radius: 5px;
    font-weight: bold;
}

.boutonOK .bouton {
    display: block;
}

.boutonOK .message textarea {
    height: 120px;
    margin-bottom: 0px;
}